body {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.header {
    height: 800px;
    background: url('../images/slider-img.jpg')
}

.menu {
    float: right;
    margin-top: 67px;
    margin-right: 171px;
}

.header .menu ul {
    float: left;
    list-style-type: none;
}

.header .menu ul li {
    float: left;
    padding: 0 8px;
}

.header .menu ul a {
    text-decoration: none;
    color:  #8c8c8c;
    font-size: 14px;
    font-weight: 500;
    line-height: 48px;
    display: inline-block;
    letter-spacing: 1px;
}

.header .menu ul a:hover {
    color:  #212121;
    font-size: 14px;
    font-weight: 700;
    line-height: 46px;
    border-bottom: 2px solid black;
}

.header img[alt="logotype"] {
    margin-top: 98px;
    margin-left: 63px;
}

.header .menu img {
    margin-left: 10px;
    margin-top: 30px;
}

.header-text {
    margin-left: 63px;
    margin-top: 238px;
}

.header-text .h3 {
    color:  #43a047;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    display: block;
}

.header-text .h2 {
    color:  #212121;
    font-size: 62px;
    font-weight: 100;
    line-height: 72px;
    text-transform: uppercase;
}

.header-text p {
    width: 485px;
    color:  #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}

.order-us-button {
    margin-top: 25px;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    color:  #212121;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    background-color:  #ffffff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    border-radius: 22px;
    width: 212px;
    height: 45px;
    line-height: 45px;
    position: relative;
    letter-spacing: 2px;
}

.order-us-button:hover:after {
    content: url('../images/arrow.png');
    position: absolute;
    left: 170px;
}

.slider {
    display: block;
    list-style-type: none;
    margin-top: 131px;
    margin-left: 590px;
    height: 50px;
}

.slider li {
    display: inline-block;
    background-color: grey;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    margin-left: 5px;
    vertical-align: middle;
}

.slider li:nth-child(2) {
    background-color: black;
    width: 40px;
    height: 40px;
}

.featured-new-content {
    height: 399px;
    margin-top: 110px;
    margin-bottom: 110px;
}

.featured-new-menu {
    list-style-type: none; 
    border-bottom: 1px solid;
    width: 350px;
    height: 52px;
    margin-left: 63px;
    padding-left: 0px;
    float: left;
}

.featured-new-menu a {
    color:  #6c6c6c;
    text-decoration: none;
}

.featured-new-menu li {
    text-decoration: none;
    float: left;
    font-size: 36px;
    font-weight: 700;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
}

.featured-new-menu li:first-child {
    border-bottom: 4px solid;
}

.featured-new-menu .active:first-child {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
}

.explore-link {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    color:  #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    float: right;
    margin-right: 118px;
    margin-top: 28px;
    display: block;
    position: relative;
}

.explore-link:hover:after {
    content: url('../images/arrow.png');
    position: absolute;
    left: 170px;
}

.featured-new-products {
    clear: both;
}

.featured-new-product {
    float: left;
    display: inline-block;
    height: 270px;
    width: 270px;
    margin-top: 36px;
    margin-left: 63px;
    position: relative;
}

.hover-block {
    display: none;
    padding-top: 25px;
    box-sizing: border-box;
    position: absolute;
    height: 270px;
    width: 270px;
    left: 0px;
    top: 0px;
    background: white;
    opacity: 0.9;
    outline: 1px solid #9c9c9c;
    text-align: center;
   
}

.hover-block span {
    display: block;
    color: #212121;
    font-size: 21.91px;    
    font-weight: 700;
    line-height: 30px;    
    transform: scaleX(1.0041);
    margin-top: 10px;
}

.hover-block a {
    margin-left: 112px;
    margin-top: 30px;
    padding: 15px;
    box-sizing: border-box;
    display: block;
    background: #ffffff;
    box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
    width: 48px;
    height: 48px;
    border-radius: 24px;
}

.hover-block p {
    color:  #6c6c6c;
    font-size: 13.94px;    
    font-weight: 300;
    line-height: 22px;    
    transform: scaleX(1.0041);
    padding-left: 30px;
    padding-right: 30px;
    
}

.featured-new-product:hover .hover-block {
    display: block;
}

.exclusive-orders {
    height: 683px;
    
}

.exclusive-product .info-promo-block {
    margin-top: 200px;
    margin-left: 52px;
}

.exclusive-label:before {
    content: "Exclusive \A";
    white-space: pre;
    color:  #1e88e5;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.exclusive-product {
    width: 50%;
    height: 100%;
    float: left;
    box-sizing: border-box
}

.exclusive-product span {
    color:  #212121;
    font-size: 36px;
    font-weight: 700;
    text-align: left;
}

.exclusive-product p {
    color:  #6c6c6c;
    font-size: 13.99px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    transform: scaleY(1.0022);
    width: 374px;
    margin-bottom: 35px;
}
    
.left-promo {
    background: url('../images/promo-img1.jpg');
}

.right-promo {
    background: url('../images/promo-img.jpg');
}

.trending-block h2 {
    margin-left: 98px;
    margin-top: 119px;
    color:  #212121;
    font-size: 36px;
    font-weight: 700;
    float: left;
}

.trending-block a {
    margin-top: 137px;
}

.trending-block {
    height: 1065px;
    margin-bottom: 120px;
}

.trending-products {
    clear: both;
    margin-left: 98px;
}

.trending-product {
    float: left;
    width: 370px;
    height: 370px;
    margin-top: 64px;
    margin-right: 30px;
}

.hot-deal-block {
    height: 800px;
    background: url('../images/slider.jpg');
}

.info-hot-deal-block {
    padding-left: 99px;
    padding-top: 227px;
}

.info-hot-deal-block .h2:before {
    content: "HOT DEAL \A";
    white-space: pre;
    color: #e53935;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
}

.info-hot-deal-block .h2 {
    color:  #212121;
    font-size: 62px;   
    font-weight: 100;
    line-height: 72px;    
}

.info-hot-deal-block p {
    color:  #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    width: 458px;
}

.hot-deal-block .slider {
    margin-top: 215px;
}

.second-exclusive-block {
    margin-top: 90px;
    margin-bottom: 120px;
    margin-left: 98px;
    height: 600px;
}

.second-exclusive-block div:first-child{
    width: 570px;
    height: 570px;
}

.product-from-second-exclusive-block {
    width: 270px;
    height: 270px;
    float: left;
    margin-right: 30px;
    margin-top: 30px;
    position: relative;
}

.info-second-exclusive-block {
    position: absolute;
    left: 32px;
    top: 160px;
}

.info-second-exclusive-block span {
    color:  #212121;
    font-size: 36px;
    font-weight: 700;
}

.info-second-exclusive-block p {
    width: 332px;
    color:  #6c6c6c;
    font-size: 13.99px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    transform: scaleY(1.0022); 
}

.mobile-app-block {
    height: 516px;
    background: url('../images/back-img.jpg');
}

.info-mobile-app-block {
    padding-top: 115px;
    width: 430px;
    margin-left: 99px;
}

.info-mobile-app-block span{
    display: block;
}

.info-mobile-app-block .mob-app-lab{
    color:  #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
}

.info-mobile-app-block .three-word-lab {
    color:  #212121;
    font-size: 62px;
    font-weight: 100;
    line-height: 72px;
    text-transform: uppercase;
}

.info-mobile-app-block .phrase-lab {
    color:  #6c6c6c;
    font-size: 22px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
}

.mobile-app-block img {
    margin-top: 33px;
    margin-right: 10px;
}

.footer {
    padding-top: 80px;
    height:280px;
    background: #f7f7f7;
}

.main-footer-block {   
    height: 200px;
    margin-bottom: 20px;
}

.info-footer-block {
    float: left;
    margin-left: 99px;
}

.f-info-footer-block p {
    width: 221px;
}

.s-info-footer-block {
   width: 390px; 
}

.t-info-footer-block {
    width: 363px;
}

.bottom-footer-block {
    display: block;
    text-transform: uppercase;
    margin-left: 99px;
    color:  #6c6c6c;
    font-size: 12px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
}

.bottom-footer-block .right-lab {
    float: right;
    margin-right: 97px;
}